div.row.chat-app {
  min-height: calc(100vh - 5rem);
  max-height: calc(100vh - 5rem);

  div.conversations {
    border-right: 1px solid black;

    h2.header + button.add-conversation {
      position: absolute;
      top: 0;
      right: 0;
      margin-top: .2em;
      margin-right: 1em;
    }

    button.add-conversation {
      color: #333;
      border-color: #ccc;
    }

    button.add-conversation + div.search {
      margin-bottom: 1em;

      button.clear {
        margin-left: -40px;
        z-index: 100;
      }
    }

    button.conversation {
      text-align: left;

      &.unread {
        h4, p {
          font-weight: bold;
        }

        h4::before {
          content: '•';
          color: dodgerblue
        }
      }

      &:focus {
        outline-color: transparent
      }

      &.online:not(.active) {
        border-left-width: 2px;
        border-left-color: forestgreen;
      }
    }

    div.footer {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;

      p {
        text-align: center;

        &.online {
          color: forestgreen;
        }

        &.offline {
          color: red;
        }
      }
    }
  }

  div.chats {

    &.online h2.header {
      margin-left: 0.7em;

      &::before {
        content: '•';
        color: forestgreen;
        position: absolute;
        font-size: 1.5em;
        top: -.2em;
        left: .3em;
      }
    }

    h2.header {
      margin-bottom: 1em;
    }

    div.messages {
      padding: 0;
      line-height: 0;
      overflow-y: auto;
      white-space: pre-line;
      min-height: calc(100vh - 12em);
      max-height: calc(100vh - 12em);

      div.no-message {
        padding-top: 6em;
        text-align: center;
      }

      div.message {
        line-height: 100%;
        display: block;
        position: relative;
        padding: .5em .8em;
        clear: both;
        max-width: 50%;
        border-radius: 20px;
        background-color: dodgerblue;
        float: left;
        margin-bottom: .5em;

        &.mine {
          background-color: lightgray;
          float: right;
          margin-left: 10%;

          p {
            color: #333;
          }
        }

        p {
          color: white;
          margin-bottom: 0;
        }

        p.sender {
          color: #e8e8e8;
          font-size: 12px;
        }
      }
    }

    div.sendbox {
      min-height: 3em;
      max-height: 3em;
    }
  }
}

a, a:hover, a:focus, a:visited {
  text-decoration: none;
  color: initial;
}
